
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="card m-auto" style="text-align:center;">
        <div class="card-header">
            <h2 style="color:gray;">An unknown error occurred.</h2>
        </div>
        <div class="card-body">
            <br />
            An error occurred try again later or contact the administrator.
        </div>
    </div>
</body>
</html>
