
@{
    ViewBag.Title = "ServerError";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="card m-auto" style="text-align:center;">
        <div class="card-header alert-danger" style="font-weight:bolder;" >
            <h1 style="color:gray;">Internal Server Error Occurred</h1>
        </div>
        <div class="card-body">
            <br />
            An internal server error occured try again later.
        </div>
    </div>
</body>
</html>
