@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        tr.active {
            background: yellow;
        }
    </style>
    <link rel="stylesheet" href="~/Scripts/DataTables/datatables.min.css" />
    <script src="~/Scripts/DataTables/datatables.min.js"></script>
</head>
<body>
    <table id="tabl" class="table table-striped table-light table-borderless" style="overflow:scroll;">
        <thead style="position: sticky; position: -webkit-sticky;">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Unit Price</th>
                <th>Units in Stock</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody id="tableData" style="overflow:scroll;"></tbody>
    </table>
    
    
</body>
</html>
<script>
    $(function () {
        $("#tabl").DataTable({
            "ajax": {
                "url": "/Home/tabledata",
                "dataType": "json",
                "type": "post",
            },
            "columns": [
                { "data": "ProductID", },
                { "data": "ProductName" },
                { "data": "Category" },
                { "data": "UnitPrice" },
                { "data": "UnitsInStock" },
                {
                    "data": "ProductID",
                    "render": function (data) { return `<button class="btn btn-sm btn-secondary" onclick="edit(${data})">Edit</button>&nbsp;<button class='btn btn-sm btn-secondary' onclick='del(${data})'>Delete</button>` }
                },
            ],
            "serverSide": "true",
            "order": [0,"asc"]
        });
    });
</script>
